.external-numbers {
    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        .external-number {
            background-color: $color-white;
            box-shadow: 0px 12px 20px #2606010F;
            border-radius: 10px;
            padding: 18px;
            display: flex;
            justify-content: space-between;
            &:hover {
                cursor: pointer;
                box-shadow: 15px 20px 25px #1303010f;
            }
            img {
                width: 71px;
                height: 66px;
            }
            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-family: $monserrat-medium;
                color: $font-second;
                font-size: 12px;
                letter-spacing: 0.02px;
                text-transform: uppercase;
                .level {
                    opacity: 0.5;
                }
                .name {
                    font-family: $monserrat-bold;
                    font-size: 18px;
                    letter-spacing: 0.04px;
                    opacity: 1;
                    text-transform: none;
                }
                .cost {
                    opacity: 0.5;
                }
            }
            .description-mark {
                width: 32px;
                height: 32px;
                background-color: $bg-second;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }
}

.external-numbers__overlay {
    .description {
        position: relative;
        top: -36px;
        background-color: $color-white;
        border-radius: 10px;
        box-shadow: 0px 3px 20px #00000029;
        padding: 20px;
        max-width: 400px;
        letter-spacing: 0.03px;
        color: $font-first;
        font-family: $open-sans-regular;
        font-size: 14px;
    }
}