$proxima-black: 'Proxima Nova, Black';
$monserrat-semibold: 'Monserrat Semibold';
$monserrat-medium: 'Monserrat Medium';
$monserrat-bold: 'Monserrat Bold';
$monserrat-regular: 'Monserrat Regular';
$open-sans-regular: 'Open Sans Regular';
$open-sans-light: 'Open Sans Light';
$open-sans-bold: 'Open Sans Bold';
$open-sans-semibold: 'Open Sans Semibold';
@font-face {
    font-family: 'Proxima Nova, Black';
    src: url(../../public/fonts/ProximaNova-Black.ttf);
}

@font-face {
    font-family: 'Monserrat Semibold';
    src: url(../../public/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Monserrat Medium';
    src: url(../../public/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Monserrat Bold';
    src: url(../../public/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Monserrat Regular';
    src: url(../../public/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url(../../public/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(../../public/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: "Open Sans Bold";
    src: url(../../public/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url(../../public/fonts/OpenSans-SemiBold.ttf);
}