@import './fonts.scss';
@import './colors.scss';
@import './externalNumbers.scss';
@import './popup.scss';
@import './numberPopup.scss';
@import './cart.scss';
body {
    display: flex;
    margin: 0;
    font-family: $proxima-black;
}

.left-container {
    background-color: $bg-main;
    width: calc(100% - #{$right-container-width});
}

.right-container {
    width: $right-container-width;
    height: 100vh;
    background-color: $bg-side;
    color: white;
}