.number-popup {
    background-color: $bg-second;
    border-radius: 10px;
    padding: 30px;
    line-height: 21px;
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        img {
            width: 71px;
            height: 66px;
            position: absolute;
            left: 30px;
        }
        .content {
            font-family: $open-sans-semibold;
            color: $font-first;
            line-height: 27px;
            .level {
                letter-spacing: 0.03px;
                opacity: 0.5;
                font-size: 14px;
            }
            .name {
                letter-spacing: 0.04px;
                font-size: 18px;
            }
        }
    }
    .popup-description {
        font-family: $open-sans-regular;
        letter-spacing: 0.03px;
        font-size: 14px;
        color: $font-first;
        max-width: 355px;
    }
    .dividing-line {
        border: 1px solid #707070;
        opacity: 0.1;
        height: 0px;
        margin: 20px 0;
    }
    .selector-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content {
            font-family: $open-sans-regular;
            color: $font-first;
            .title {
                font-size: 14px;
                letter-spacing: 0.03px;
            }
            .cost {
                font-size: 12px;
                letter-spacing: 0.02px;
                opacity: 0.7;
            }
        }
        input {
            background-color: $color-white;
            border: 1px solid #E4E4E4;
            border-radius: 4px;
            max-width: 84px;
            padding: 17px 19px 11px 12px;
        }
    }
    .btns-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        .btn {
            padding: 15px 51px;
            font-family: $open-sans-regular;
            font-size: 12px;
            letter-spacing: 0.02px;
            border-radius: 6px;
            &:hover {
                cursor: pointer;
                box-shadow: 0px 3px 20px #00000029;
            }
        }
        .btn-cancel {
            background-color: rgba($color: #DEDEDE, $alpha: 0.5);
            border: 1px solid #707070;
            color: $font-first;
        }
        .btn-add {
            background-color: $color-aqua;
            color: $color-white;
        }
    }
}